{{#headerslength}}
# Generic Notes

{{/headerslength}}
{{#headers}}
**{{title}}**
{{body}}

{{/headers}}
# Issues

{{#issues}}
{{repo}}#{{number}} {{title}}
{{/issues}}

{{#footerslength}}
# Additional Notes

{{/footerslength}}
{{#footers}}
**{{title}}**
{{body}}

{{/footers}}
