<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Spring Statemachine Scope Demo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:with="currentUser=${#httpServletRequest.userPrincipal?.principal}" >
		<div th:if="${currentUser != null}">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Log out" />
			</form>
			<p th:text="'CurrentUser: ' + ${currentUser.username}"/>
		</div>
	</div>
	<p th:text="'States: ' + ${states}" />
	<form action="#" data-th-action="@{/states}" data-th-object="${model}" method="post">
		<button type="submit" name="event" value="A">Send A</button>
		<button type="submit" name="event" value="B">Send B</button>
		<button type="submit" name="event" value="C">Send C</button>
		<button type="submit" name="event" value="D">Send D</button>
		<button type="submit" name="event" value="E">Send E</button>
		<button type="submit" name="event" value="F">Send F</button>
	</form>
	<pre th:text="${stateChartModel}"/>
</body>
</html>
